name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

      
    - name: Teste Slack
      env:
        JSON_MENSAGEM: '{ "mensagem": "Execução {{ env.$GITHUB_RUN_NUMBER }}" }'
      shell: pwsh
      run: |
        Get-Date
        Invoke-RestMethod -Uri "${{ secrets.URL_LOGIC_APP }}" -Method POST -ContentType "application/json" -Body "${{ env.JSON_MENSAGEM }}"

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301

    - name: Teste PowerShell
      run: pwsh -Command Get-Date

    - name: Teste versão
      run: dotnet --version

    - name: Teste sucesso
      if: success()
      run: echo 'Deu certo'

    - name: Teste erro
      if: failure()
      run: echo 'Deu errado'
